<h1 class="page-header"><%= @recipe.name.capitalize %><small> - A Recipe By <%= @recipe.creator.first_name %> <%= @recipe.creator.last_name %></small></h1>

      <p><strong>Difficulty:</strong> <%= @recipe.difficulty %></p>
      <p><strong>Prep Time:</strong> <%= @recipe.prep_time %> minutes</p>
      <p><strong>Ingredients:</strong></p>
      <ul>
      <% if @recipe_ingredients  %>
        <% @recipe_ingredients.each do |r_i| %>
          <li><%= r_i.ingredient.name %> (<%= r_i.amount %> <%= r_i.measurement %>)</li>
        <% end %>
      <% end %>
      </ul>
      <p><strong>Directions:</strong> <%= @recipe.directions %></p>
