<div class="jumbotron new-recipe-hero">
  <div class="container">
    <div class="well">
      <form action='<%= recipe_path(@recipe) %>' method='POST' >
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <div class="col-xs-12">
            <h2>Edit Recipe</h2>
            <label for="recipeName">Recipe Name</label>
            <input type="text" class="form-control", id="recipeName", aria-describedby="recipeHelp" name="recipe[name]" value="<%=@recipe.name%>">
            <small id="recipeHelp" class="form-text text-muted"><strong>Bad:</strong> Nachos | <strong>Good:</strong> Flamin' Hot Nachos</small><br>
          </div>
        </div>

        <div class="row"></div><br>

        <div class="form-group">

          <div class="col-xs-6">
            <label for="difficultySelect">Difficulty Level</label>
            <select class="form-control" id="difficultySelect" name="recipe[difficulty]" value="<%= @recipe.difficulty %>">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <small id="difficultyHelp" class="form-text text-muted"><strong>1</strong> (<em>Easiest</em>) | <strong>5</strong> (<em>Most Difficult</em>)</small>
          </div>

          <div class="col-xs-6">
            <label for="prepTime">Prep Time</label>
            <input type="text" class="form-control", id="prepTime", aria-describedby="prepTimeHelp" value="<%=@recipe.prep_time%>" name="recipe[prep_time]">
            <small id="recipeHelp" class="form-text text-muted">Enter time in minutes</small>
          </div>
        </div>

        <div class="row"></div><br>

        <div class="form-group">
          <div class="col-xs-12">
            <label for="recipeDirections">Directions</label>
            <textarea class="form-control" id="recipeDirections" rows="3" name="recipe[directions]"><%= @recipe.directions %></textarea>
          </div>
        </div>

        <div class="row"></div><br>

        <div class="form-group">
          <div class="col-xs-12">
            <input type="submit" class="btn btn-primary">
          </div>
        </div>

      </form><br>

      <h2>Add Ingredients</h2>
      <div id="ingredientRecipes">
        <%= render "ingredients/add_ingredient"  %>
      </div>

      <div class="row"></div><br>
    </div>
  </div>
</div>
