<% if !user_signed_in? %>
  <%= @error %>
<% else %>
  <div class="jumbotron recipe-hero">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="well">
            <div class="row">
              <h1 class="text-center"><%= @user.first_name %> Recipes</h1>
              <% @user.recipes[0...4].each do |recipe| %>
              <div class="col-xs-12">
                <div class="card card-block">
                  <h4 class="card-title"><%= link_to "View #{recipe.name} recipe", course_recipe_path(recipe.course, recipe) %></h4>
                  <p class="card-text"><%= recipe.directions%></p>
                  <%= link_to "Edit #{recipe.name} recipe", edit_course_recipe_path(recipe.course, recipe) %> |
                  <%= link_to "Delete #{recipe.name} recipe", recipe_path(recipe), method: 'delete'%>
                </div>
              </div>
              <div class="row"></div><br>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

